$colorPrimary: #aa1920;
$colorSecondary: #04700b;
$dark-grey: #333;

$text-color: #000;
$sub-text-color: #373737;

$text-danger: #aa1920;
$text-success: #04700b;
$text-warning: #eebd00;
$text-info: #40b3e4;

$fontFamily: "Helvetica Neue", Arial, sans-serif;

$font-weight-heading: 400;
$font-weight-normal: 400;
$font-weight-bold: 700;

$opacity: 0.8;
$border-radius: 10;
$border-color: #e6e6e6;

$light-grey: #ccc;
$border-color-dark: #414141;
$background-section-dark: #252525;

$boxShadowAndroid: 0 5 10 rgba(0, 0, 0, 0.10);
$boxShadowIos: 0 1 6 0 rgba(0, 0, 0, 0.34);

